@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body{
    font-family: "Play", sans-serif;
    font-weight: 600;
    background: #222;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}